@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('./fonts/playfair_display/PlayfairDisplay-VariableFont_wght.ttf')
      format('truetype');
  }
}
